{% extends "base.html" %}
{% block content %}
<h2>New Item</h2>
<form method="post">
<label for="name">Name:</label>
<input type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of Item">
<label for="description">Description:</label>
<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description"></textarea>
<label for="name">Name:</label>
 <select name="category_select">
{% for category in categories %}
<option value="{{ category.name }}">{{ category.name }}</option>
{% endfor %}
</select>
<input type="submit">
</form>
{% endblock %}
